@media (prefers-color-scheme: dark) {
  .app {
    --baseBackground: #262626;
    --tabBackgorund: #1f1f1f;
    --tabLineColor: #393939;
    --activeColor: #d7d7d7;
    --tabBorderColor: #393939;
    --productColor: #d7d7d7;
    --pageButtonBorder: #393939;
    --pageButtonBackground: #1f1f1f;
    --pageButtonImg: url('https://m1.nateimg.co.kr/n3main/sets2/set_ic2_dark.png');
  }
}
